In [1]:
import pandas as pd
import numpy as np
import quandl

In [7]:
gold_data = quandl.get("CHRIS/MCX_GC1",api_key="Di2mkDdqBJbSZiGQxdfQ")

In [9]:
gold_data.to_csv(r"C:\Users\Evian Zhou\Documents\Python\gold_data.csv")

In [11]:
imported_data = pd.read_csv(r"C:\Users\Evian Zhou\Documents\Python\gold_data.csv")

In [13]:
imported_data.head()

         Date     Open     High      Low    Close   Volume  Open Interest
0  2013-12-04  30368.0  30368.0  30368.0  30368.0    307.0          257.0
1  2013-12-05  30652.0  30957.0  30074.0  30950.0    260.0          122.0
2  2013-12-06  29151.0  29350.0  28720.0  29205.0  22202.0         8851.0
3  2013-12-07  29205.0  29205.0  29205.0  29205.0  22202.0         8851.0
4  2013-12-09  28921.0  29100.0  28842.0  28954.0  13196.0         9137.0

In [16]:
duration = pd.date_range("1/1/2012", periods=1000, freq="s")

In [17]:
duration

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:00:01',
               '2012-01-01 00:00:02', '2012-01-01 00:00:03',
               '2012-01-01 00:00:04', '2012-01-01 00:00:05',
               '2012-01-01 00:00:06', '2012-01-01 00:00:07',
               '2012-01-01 00:00:08', '2012-01-01 00:00:09',
               ...
               '2012-01-01 00:16:30', '2012-01-01 00:16:31',
               '2012-01-01 00:16:32', '2012-01-01 00:16:33',
               '2012-01-01 00:16:34', '2012-01-01 00:16:35',
               '2012-01-01 00:16:36', '2012-01-01 00:16:37',
               '2012-01-01 00:16:38', '2012-01-01 00:16:39'],
              dtype='datetime64[ns]', length=1000, freq='S')

In [23]:
ts = pd.Series(np.random.randint(0, 5000, len(duration)), index=duration)

In [24]:
ts

2012-01-01 00:00:00    3516
2012-01-01 00:00:01    1605
2012-01-01 00:00:02    4962
2012-01-01 00:00:03    2691
2012-01-01 00:00:04    1461
                       ...
2012-01-01 00:16:35    3095
2012-01-01 00:16:36    3784
2012-01-01 00:16:37    1925
2012-01-01 00:16:38    4277
2012-01-01 00:16:39    3108
Freq: S, Length: 1000, dtype: int32

In [30]:
ts = ts.resample('5Min').sum()

In [31]:
ts.head()

2012-01-01 00:00:00    720449
2012-01-01 00:05:00    742885
2012-01-01 00:10:00    770918
2012-01-01 00:15:00    260682
Freq: 5T, dtype: int32

In [32]:
converted = ts.asfreq("5Min", method="pad")

In [34]:
converted.head()

2012-01-01 00:00:00    720449
2012-01-01 00:05:00    742885
2012-01-01 00:10:00    770918
2012-01-01 00:15:00    260682
Freq: 5T, dtype: int32

In [37]:
ts.resample("D").mean()

2012-01-01    623733.5
Freq: D, dtype: float64

In [38]:
duration = pd.date_range('1/1/2012', periods=100, freq='Min')
ts = pd.Series(np.random.randint(0, 5000, len(duration)), index=duration)
# Type your code below
ts

2012-01-01 00:00:00    1842
2012-01-01 00:01:00    1729
2012-01-01 00:02:00     730
2012-01-01 00:03:00    4134
2012-01-01 00:04:00     418
                       ...
2012-01-01 01:35:00    1608
2012-01-01 01:36:00    2903
2012-01-01 01:37:00    3347
2012-01-01 01:38:00    1442
2012-01-01 01:39:00    1642
Freq: T, Length: 100, dtype: int32

In [39]:
ts.asfreq("10Min", method="pad")

2012-01-01 00:00:00    1842
2012-01-01 00:10:00    4645
2012-01-01 00:20:00    2600
2012-01-01 00:30:00    1960
2012-01-01 00:40:00    1235
2012-01-01 00:50:00    2088
2012-01-01 01:00:00    4454
2012-01-01 01:10:00    1333
2012-01-01 01:20:00    1824
2012-01-01 01:30:00    4863
Freq: 10T, dtype: int32

In [40]:
duration = pd.date_range('1/1/2012', periods=100, freq='Min')
ts = pd.Series(np.random.randint(0, 5000, len(duration)), index=duration)

In [41]:
ts

2012-01-01 00:00:00    1088
2012-01-01 00:01:00    2169
2012-01-01 00:02:00    4035
2012-01-01 00:03:00    2926
2012-01-01 00:04:00    3788
                       ...
2012-01-01 01:35:00    4094
2012-01-01 01:36:00    1433
2012-01-01 01:37:00    2779
2012-01-01 01:38:00    3674
2012-01-01 01:39:00    2010
Freq: T, Length: 100, dtype: int32

In [43]:
ts_UTC = ts.tz_localize('UTC')

In [44]:
ts_UTC

2012-01-01 00:00:00+00:00    1088
2012-01-01 00:01:00+00:00    2169
2012-01-01 00:02:00+00:00    4035
2012-01-01 00:03:00+00:00    2926
2012-01-01 00:04:00+00:00    3788
                             ...
2012-01-01 01:35:00+00:00    4094
2012-01-01 01:36:00+00:00    1433
2012-01-01 01:37:00+00:00    2779
2012-01-01 01:38:00+00:00    3674
2012-01-01 01:39:00+00:00    2010
Freq: T, Length: 100, dtype: int32

In [45]:
from datetime import datetime
from quantrautil import get_quantinsti_api_key

ModuleNotFoundError: No module named 'quantrautil'