In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
import yfinance as yf

In [4]:
stock_OHLC = yf.download("AAPL", start="2015-01-01", end="2019-09-04")
output_filename = r"C:\Users\Evian Zhou\Documents\Python\Learning\aapl_ohlc.csv"
stock_OHLC.to_csv(output_filename)

[*********************100%***********************]  1 of 1 completed

In [5]:
data = pd.read_csv(r"C:\Users\Evian Zhou\Documents\Python\Learning\aapl_ohlc.csv", index_col=0, parse_dates=True)
data.head()

                 Open       High        Low      Close  Adj Close     Volume
Date
2014-12-31  28.205000  28.282499  27.552500  27.594999  25.181044  165613600
2015-01-02  27.847500  27.860001  26.837500  27.332500  24.941502  212818400
2015-01-05  27.072500  27.162500  26.352501  26.562500  24.238857  257142000
2015-01-06  26.635000  26.857500  26.157499  26.565001  24.241146  263188400
2015-01-07  26.799999  27.049999  26.674999  26.937500  24.581060  160423600

In [6]:
data['price_chg'] = data['Adj Close'].shift(1) - data['Adj Close'].shift(6)

In [7]:
data['std_100day'] = data['price_chg'].rolling(window=100).std()

In [9]:
data.head(10)

,Open,High,Low,Close,Adj Close,Volume,price_chg,std_100day
Date,,,,,,,,
2014-12-31,28.205000,28.282499,27.552500,27.594999,25.181044,165613600,NaN,NaN
2015-01-02,27.847500,27.860001,26.837500,27.332500,24.941502,212818400,NaN,NaN
2015-01-05,27.072500,27.162500,26.352501,26.562500,24.238857,257142000,NaN,NaN
2015-01-06,26.635000,26.857500,26.157499,26.565001,24.241146,263188400,NaN,NaN
2015-01-07,26.799999,27.049999,26.674999,26.937500,24.581060,160423600,NaN,NaN
2015-01-08,27.307501,28.037500,27.174999,27.972500,25.525522,237458000,NaN,NaN
2015-01-09,28.167500,28.312500,27.552500,28.002501,25.552891,214798000,0.344479,NaN
2015-01-12,28.150000,28.157499,27.200001,27.312500,24.923252,198603200,0.611389,NaN
2015-01-13,27.857500,28.200001,27.227501,27.555000,25.144543,268367600,0.684395,NaN
2015-01-14,27.260000,27.622499,27.125000,27.450001,25.048731,195826400,0.903397,NaN

In [11]:
data['5d_avg_vol'] = data['Volume'].shift(1).rolling(window=5).mean()

In [13]:
data['past 5d_avg_vol'] = data['5d_avg_vol'].shift(5)

In [12]:
data['signal'] = 0

In [14]:
data.loc[ ( (data['price_chg'] > data['std_100day']) & ( data['5d_avg_vol'] > data['past 5d_avg_vol'] ) & (data['price_chg'] < 0) ) , 'signal'] = 1

In [16]:
data.loc[((data['price_chg'].abs() > data['std_100day'])
          & (data['5d_avg_vol'] < data['past 5d_avg_vol'])
          & (data['price_chg'] > 0)), 'signal'] = -1

In [17]:
data['c_signal'] = 0
data['exit'] = 0